
.recently-played {
    border-radius: 15px;
    background: linear-gradient(120deg, #1f1e25, rgba(49, 7, 7, 0) 300.71%),
            linear-gradient(250deg, #1db954, rgba(0,255,0,0) 70.71%),
            linear-gradient(400deg, rgba(149, 0, 255, 0.5), rgba(0, 0, 0, 0) 150.71%);
}

.recently-played-song:hover {
    background-color: rgba(85, 85, 85, 0.5);
}

.top-tracks {
    border-radius: 15px;
    background: linear-gradient(217deg, #1f1e25, rgba(49, 7, 7, 0) 200.71%),
            linear-gradient(127deg, #1db954, rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(149, 0, 255, 0.5), rgba(0, 0, 0, 0) 70.71%);
}

.top-tracks-song:hover {
    background-color: rgba(85, 85, 85, 0.5);
}

.currently-playing {
    border-radius: 15px;
    background: 
    linear-gradient(336deg, #1f1e25, rgba(0, 0, 0, 0) 200.71%),
    linear-gradient(217deg, #1db954, rgba(49, 7, 7, 0) 70.71%),
    linear-gradient(127deg,  #9500ff80, rgba(0,255,0,0) 170.71%);
}

.currently-playing-song:hover {
    background-color: rgba(85, 85, 85, 0.5);
}

.top-artists {
    border-radius: 15px;
    background: 
    linear-gradient(336deg, #1f1e25, rgba(0, 0, 0, 0) 200.71%),
    linear-gradient(217deg, #1db954, rgba(49, 7, 7, 0) 70.71%),
    linear-gradient(127deg,  #9500ff80, rgba(0,255,0,0) 170.71%);
}

.top-artists-artist:hover {
    background-color: rgba(85, 85, 85, 0.5);
    border-radius: 10px;
}


    



.track-order-album {
    background-color: rgba(65, 65, 65, 0.4);
}
